
body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


a {
  color: #35988b;
}


.menu-icon {
  margin: 0.3rem;
}


body {
    background-image: url('/images/background.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 200px;
}