
body {
  padding-top: 4.8rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


a {
  color: #35988b;
}

.anim {
    opacity: 0.0;
}

.jumbotron {
    text-align: center;
}

.menu-icon {
    margin: 0.4rem;
    opacity: 0.8;
}

.nav-link {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-left: 3rem;

}


.menu-icon:hover {
    opacity: 1.0;
}

body {
    background-image: url('/images/background.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 200px;
}