
body {
    padding-top: 4.8rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


a {
  color: #35988b;
}

h1 {
    font-family: 'Quicksand';
}

h2 {
    font-family: 'Quicksand';
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

#anim {
    opacity: 0.0;
}

.jumbotron {
    text-align: center;
}

.menu-icon {
    margin: 0.4rem;
    opacity: 0.8;
}

.nav-item {
    font-size: 1.3rem;
    text-transform: uppercase;
    //padding-left: 0.5rem;
    //padding-right: 0.5rem;
    border-bottom: 5px;
    font-family: 'Quicksand';
}

.nav-item:hover {
    color: #35988b;
    border-bottom: 5px solid #DDDDDD;
}


.menu-icon:hover {
    opacity: 1.0;
}

body {
    background-image: url('/images/background.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 200px;
}