---
---

{%  include header.html %}

<div class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

            <h1 class="page-title">Projects</h1>
            
            <hr>

            <h2>2019</h2>

            <ul>
                <hr>

                <li>
                    Training deep reinforcement learning agent to optimise long term investment strategies using a simulation of the Dutch electricity grid for <a href="https://www.alliander.com">Alliander</a>.
                </li>

		<hr>

                <li>

                    Algorithmic parfume design for <a href="https://scentronix.com/">scentronix</a>.
                </li>

            </ul>
            <hr>
            
            <h2>2018</h2>
            
            <ul>
                <hr>

                <li>
                    Containerisation and packaging of software used in the search for signals from extraterrestrial intelligence.
                    <a href="https://seti.berkeley.edu/listen/">Breakthrough Listen</a> at
                    <a href="https://seti.berkeley.edu/">Berkeley SETI</a>.
                </li>

                <hr>

                <li>
                    Simulation of realistic network metrics for <a href="https://www.manrs.org/">MANRS</a>.
                </li>
                
                <hr>

                <li>
                    Deconvolving radio telescope data using deep learning (Tensorflow). Publication in preparation.
                </li>

                <hr>

                <li>
                    Modular data reduction pipelines for astronomy data based on CWL and KERN.
                    OBELICS industrial partner project for <a href="https://www.asterics2020.eu/">ASTERICS</a>.
                </li>

                <hr>

                <li>
                    Software packaging and cluster tooling for
                    <a href="https://www.astron.nl/astronomy-group/apertif/apertif">APERTIF</a>
                </li>


           </ul>

            <hr>

            <h2>2017</h2>
            <ul>
                <hr>

                <li>
                    <a href="https://github.com/arpa2/keehive" target="_blank">Keehive</a>, a PKCS #11 Library and hosting
                    daemon, part of the <a href="http://www.arpa2.net/" target="_blank">arpa2</a> project
                </li>

                <hr>

                <li>
                    <a href="https://eoscpilot.eu/lofar-data" target="_blank">The European Open Science Cloud LOFAR pilot</a>.
                    Porting existing <a href="https://github.com/lofar-astron/prefactor" target="_blank">radio astronomy data reduction pipelines</a>
                     to <a href="http://www.commonwl.org/" target="_blank">Common Workflow Language</a>
                </li>

                <hr>

                <li>
                    <a href="https://github.com/eduvpn/python-eduvpn-client" target="_blank">GNU/Linux client</a> for <a href="https://eduvpn.org/">eduVPN</a>
                </li>

                <hr>
                <li>
                    Computer vision and computational creativity consulting for
                    <a href="https://madewithover.com"| target="_blank">@Over</a>, Cape Town
                </li>

                <hr>
                <li>
                    Python API for live trading on Johannesburg exchange for
                    <a href="https://www.agcapital.co.za/" target="_blank">AG Capitcal</a>, Cape Town
                </li>
                <hr>

                <li>
                    <a href="https://github.com/gijzelaerr/sqlalchemy-monetdb" target="_blank">SQLAlchemy dialect</a> for MonetDB
                </li>


            </ul>

            <hr>

            <h2>2016</h2>
            <ul>
                <hr>
                <li>
                    <a href="http://kernsuite.info/" target="_blank">KERN</a>, the radio astronomy software suite
                </li>

                <hr>
                <li>
                    <a href="https://github.com/gijzelaerr/kliko" target="_blank">Kliko</a>, the Scientific Compute Container
                    Specification and Support Library
                </li>

                <hr>
                <li>
                    Live image and user interface for the sensor probe of the
                    <a href="https://github.com/cyberintelframework" target="_blank">Cyber Intel Framework</a>
                </li>

            </ul>

            <hr>

            <h2>2015</h2>
            <ul>
                <hr>
                <li>
                    <a href="https://github.com/gijzelaerr/python-docker-machine" target="_blank">A Python API</a> around
                    Docker Machine
                </li>
            </ul>


            <hr>


            <h2>2013</h2>
            <ul>
                <hr>

                <li>
                    A <a href="https://github.com/gijzelaerr/python-snap7" target="_blank">Python API</a> for
                    the snap7 Siemens PLC communication library
                </li>
            </ul>

            <hr>

            <h2>2012</h2>
            <ul>
                <hr>
                <li>
                    Client side (javascript) encryption for
                    <a href="https://www.surffilesender.nl/" target="_blank">SURFfilesender</a>,
                    the browser based file sharing platform

                </li>

            </ul>

            <hr>

            <h2>2011</h2>
            <ul>
                <hr>
                <li>
                    <a href="https://github.com/gijzelaerr/pymonetdb" target="_blank">Python API</a> for MonetDB
                </li>

                <hr>
                <li>
                    <a href="https://twitter.com/jan_spellingman" target="_blank">Jan</a>, an autonomous agent operating
                    on Twitter and correcting people's spelling mistakes
                </li>
            </ul>

            <hr>

            <h2>2010</h2>
            <ul>
                <li><A href="https://github.com/gijzelaerr/sonic-gesture">Sonic Gesture</A>. Computer Vision software
                    written in C++ to translate real time hand poses into MIDI

                </li>
            </ul>


            <hr>

            <h2>2008</h2>
            <ul>
                <li>
                    Netflow plugin for <a href="https://www.perfsonar.net/" target="_blank">perfSONAR</a>
                </li>
            </ul>

            <hr>

        </div>
    </div>
</div>

{%  include footer.html %}
