---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col">
            <h1>2017</h1>
            <ul>
                <li>
                    <b><a href="https://github.com/arpa2/keehive">Keehive</a></b>, a PKCS #11 Library and Hosting Dæmon.
                    For <a href="http://www.arpa2.net/">arpa2</a> who develops tools to repopliate a decentralised
                    global
                    internet that offers security anprivacy by design.
                </li>

                <li>
                    <b><a href="https://github.com/EOSC-LOFAR">The European Open Science Cloud LOFAR pilot</a></b>.
                    Porting existing radio astronomy data reduction pipelines like
                    <a href="https://github.com/lofar-astron/prefactor">Prefactor</a> to
                    <a href="http://www.commonwl.org/">Common Workflow Language</a> and perform benchmarks on
                    <a href="https://userinfo.surfsara.nl/systems/cartesius">Cartesius</a>.
                </li>

                <li>
                    <b><a href="https://github.com/eduvpn/python-eduvpn-client">GNU/Linux client for eduVPN</a></b>.
                    EduVPN enables students, employees and researchers to connect securely and encrypted to the Internet
                    from any standard device. The client is also a cross platform Python API.
                </li>

                <li>
                    Closed source computer vision and computational creativity consulting for
                    <b><a href="https://madewithover.com/">@over</a></b> Cape Town.
                </li>

                <li>
                    Closed source Python API for live trading on Johannesburg exchange for
                    <b><a href="https://www.agcapital.co.za/">AG Capitcal</a></b>, Cape Town.
                </li>

                <li>
                    <a href="https://github.com/gijzelaerr/pymonetdb">Python API</a> and
                    <a href="https://github.com/gijzelaerr/sqlalchemy-monetdb">SQLAlchemy dialect</a> for MonetDB.
                    MonetDB is an open source column store database system.
                </li>

            </ul>

            <h1>2016</h1>
            <ul>
                <li>
                    <b><a href="https://github.com/gijzelaerr/kliko">Kliko</a></b>, the Scientific Compute Container
                    Specification and Support Library.
                </li>

                <li>
                    Live image and user interface for sensor for the
                    <a href="https://github.com/cyberintelframework">Cyber Intel Framework</a>, previously known as
                    SURFids. <a href="http://surfnet.nl">SURFnet</a>.
                </li>
            </ul>

            <h1>2013</h1>
            <ul>
                <li>
                    <b><a href="https://github.com/gijzelaerr/python-snap7">Python-snap7</a></b>, a Python API for
                    the snap7 Siemens PLC communication library.
                </li>
            </ul>

            <h1>2012</h1>
            <ul>
                <li>

                    Client side (javascript) encryption for
                    <b><a href="https://www.surffilesender.nl/">SURFfilesender</a></b>,
                    the browser based file sharing platform. For <a href="http://surfnet.nl">SURFnet</a>.

                </li>

            </ul>

            <h1>2008</h1>
            <ul>
                <li>
                    Netflow plugin for <a href="https://www.perfsonar.net/">perfSONAR</a>.
                    For <a href="http://surfnet.nl">SURFnet</a>.
                </li>
            </ul>

        </div>
    </div>
</main>

{%  include footer.html %}