---
---

{%  include header.html %}

<div class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

            <h1>Projects</h1>

            <h2>2017</h2>
            <ul>
                <li>
                    <a href="https://github.com/arpa2/keehive" target="_blank">Keehive</a>, a PKCS #11 Library and Hosting
                    Dæmon, part of the <a href="http://www.arpa2.net/" target="_blank">arpa2</a> project. Arpa2 is an effort to
                    develop tools to repopliate a decentralised global internet that offers security anprivacy by design.
                </li>

                <li>
                    <a href="https://github.com/EOSC-LOFAR" target="_blank">The European Open Science Cloud LOFAR pilot</a>.
                    Porting existing radio astronomy data reduction pipelines like
                    <a href="https://github.com/lofar-astron/prefactor" target="_blank">Prefactor</a> to
                    <a href="http://www.commonwl.org/" target="_blank">Common Workflow Language</a> and perform benchmarks on
                    <a href="https://userinfo.surfsara.nl/systems/cartesius" target="_blank">Cartesius</a>.
                </li>

                <li>
                    <a href="https://github.com/eduvpn/python-eduvpn-client" target="_blank">GNU/Linux client for eduVPN</a>.
                    EduVPN enables students, employees and researchers to connect securely and encrypted to the
                    Internet from any standard device. The client is also a cross platform Python API.
                </li>

                <li>
                    Closed source computer vision and computational creativity consulting for
                    <a href="https://madewithover.com"| target="_blank">@Over</a>, Cape Town.
                </li>

                <li>
                    Closed source Python API for live trading on Johannesburg exchange for
                    <a href="https://www.agcapital.co.za/" target="_blank">AG Capitcal</a>, Cape Town.
                </li>

                <li>
                    <a href="https://github.com/gijzelaerr/sqlalchemy-monetdb" target="_blank">SQLAlchemy dialect</a> for MonetDB.
                    MonetDB is an open source column store database system.
                </li>

            </ul>

            <h2>2016</h2>
            <ul>
                <li>
                    <a href="http://kernsuite.info/" target="_blank">KERN</a>, The radio astronomy software suite.
                </li>
                <li>
                    <a href="https://github.com/gijzelaerr/kliko" target="_blank">Kliko</a>, the Scientific Compute Container
                    Specification and Support Library.
                </li>

                <li>
                    Live image and user interface for sensor for the
                    <a href="https://github.com/cyberintelframework" target="_blank">Cyber Intel Framework</a>, previously known as
                    SURFids. <a href="http://surfnet.nl" target="_blank">SURFnet</a>.
                </li>
            </ul>


            <h2>2015</h2>
            <ul>
                <li>
                    <a href="https://github.com/gijzelaerr/python-docker-machine" target="_blank">python-docker-machine</a>,
                    A Python API around docker-machine.
                </li>
            </ul>





            <h2>2013</h2>
            <ul>
                <li>
                    <a href="https://github.com/gijzelaerr/python-snap7" target="_blank">Python-snap7</a>, a Python API for
                    the snap7 Siemens PLC communication library.
                </li>
            </ul>

            <h2>2012</h2>
            <ul>
                <li>

                    Client side (javascript) encryption for
                    <a href="https://www.surffilesender.nl/" target="_blank">SURFfilesender</a>,
                    the browser based file sharing platform. For <a href="http://surfnet.nl" target="_blank">SURFnet</a>.

                </li>

            </ul>


            <h2>2011</h2>
            <ul>
                <li>
                    <a href="https://github.com/gijzelaerr/pymonetdb" target="_blank">Python API</a> for MonetDB.
                    MonetDB is an open source column store database system.
                </li>

                <li>
                    <a href="https://twitter.com/jan_spellingman" target="_blank">Jan</a>, an autonomous agent operating
                    on twitter and correcting people on spelling mistakes.
                </li>
            </ul>


            <h2>2010</h2>
            <ul>
                <li><A href="https://github.com/gijzelaerr/sonic-gesture">Sonic Gesture</A>. Computer Vision software
                    written in C++ to translate real time hand poses in a video stream into MIDI.

                </li>
            </ul>


            <h2>2008</h2>
            <ul>
                <li>
                    Netflow plugin for <a href="https://www.perfsonar.net/" target="_blank">perfSONAR</a>.
                    For <a href="http://surfnet.nl" target="_blank">SURFnet</a>.
                </li>
            </ul>
        </div>
    </div>
</div>

{%  include footer.html %}