---
---

{%  include header.html %}

 <div class="container" >

     <div class="starter-template">
         <img src="images/pythonic200_title.png">

        <p class="lead">Pythonic.nl is a one man company delivering high quality software products.<br>
        </p>
      </div>


    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h2>Pythonic</h2>
              <p>Modern, idiomatic, documented, tested and carefully nurtured software products. Although not afraid
                  of other languages, Python is the language of choice.
              </p>
          </div>
            <div class="col-md-4">
              <h2>Scientific</h2>
              <p>Deep knowledge of scientific code, methods and culture. Ambitiously transforming prototype code into
                  production ready software products.
              </p>
          </div>

          <div class="col-md-4">
              <h2>Data processing</h2>
              <p>Working in astronomy resulted in experience with handling massive amounts of data. Educated in the
                  field of artificial intelligence.
              </p>
          </div>

        </div>

    </div>

{%  include footer.html %}