---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">

            <h1>Contact details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">

            <p>Feel free to contact me by email or social media. Below is a list of platforms where you can find me:
            </p>

            <p>
                <a href="mailto:gijs@pythonic.nl"><img src="/icons/mail-icon.svg" width=30px alt="Mail">
                    gijs@pythonic.nl</a><br>
                <a href="http://twitter.com/gijzelaerr"><img src="/icons/twitter-icon.svg" width=30px alt="Twitter">
                    Twitter</a><br>
                <a href="http://nl.linkedin.com/in/gijsmolenaar"><img src="/icons/linkedin-icon.svg" width=30px
                                                                      alt="Linkedin"> LinkedIn</a><br>
                <a href="https://soundcloud.com/gijzelaerr"><img src="/icons/soundcloud-icon.svg" width=30px
                                                                 alt="SoundCloud">Sound Cloud</a><br>
                <a href="https://scholar.google.com/citations?user=BzgJ8xUAAAAJ"><img src="/icons/default-icon.svg"
                                                                                      width=30px alt="SoundCloud">Google
                    Scolar Citations</a><br>
                <a href="https://github.com/gijzelaerr"><img src="/icons/github-icon.svg" width=30px alt="Github">
                    Github</a><br>
            </p>
        </div>
    </div>
</main>

{%  include footer.html %}