---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col">

            Gijs Molenaar<br>
            gijs@pythonic.nl<br>
            <a href="http://twitter.com/gijzelaerr">Twitter</a><br>
            <a href="http://nl.linkedin.com/in/gijsmolenaar">LinkedIn</a><br>
            <a href="https://soundcloud.com/gijzelaerr">Sound Cloud</a><br>
            <a href="https://scholar.google.com/citations?user=BzgJ8xUAAAAJ">Google Scolar Citations</a><br>
            <a href="https://github.com/gijzelaerr">Github</a><br>

        </div>
    </div>
</main>

{%  include footer.html %}