---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">


            <h1 class="page-title">CV</h1>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2017</H3>
                </div>
                <div class="col-8">
                    Independent software engineer, <a href="http://pythonic.nl"
                                                                target="_blank">Pythonic.nl</a>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2011 - 2017</H3>
                </div>

                <div class="col-8">
                    Scientific Software Engineer, <a href="http://api.uva.nl/" target="_blank">University of Amsterdam</a>.
                    Part-time seconded to <a href="http://www.ska.ac.za/" target="_blank">Square Kilometre Array South Africa</a>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2011</H3>
                </div>
                <div class="col-8">
                    Scientific software engineer, <a href="http://sightcorp.com/" target="_blank">ThirdSight</a>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2008 - 2017</H3>
                </div>
                <div class="col-8">
                    Part-time independent software engineer, <a href="http://pythonic.nl" target="_blank">Pythonic.nl</a>
                </div>
            </div>

            <hr>

            <h1>Education</h1>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2015 - present</H3>
                </div>
                <div class="col-8">
                     PhD student, Rhodes University, South Africa
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2008 - 2010</H3>
                </div>
                <div class="col-8">
                     MSc Artificial Intelligence, University of Amsterdam
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>2004 - 2008</H3>
                </div>
                <div class="col-8">
                     BSc (Cum Laude) Software engineer, system and network engineering, Hogeschool van Amsterdam
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4 text-center">
                    <H3>1999 - 2003</H3>
                </div>
                <div class="col-8">
                     MBO Elektrotechniek Nova College
                </div>
            </div>

            <hr>

        </div>
    </div>
</main>

{%  include footer.html %}