---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col">

            <h1>Work experience</h1>
            <ul>
                <li>2017 - Full Time <b>Pythonic.nl</b></li>
                <li>2011/2017 - Scientific Software Engineer, University of Amsterdam, Square Kilometre Array South Africa</li>
                <li>2011 - Scientific Software Engineer, ThirdSight</li>
                <li>2008/2017 - Part time Pythonic.nl</li>
            </ul>
            <h1>Education</h1>
            <ul>
                <li>2015/present - <b>PhD student</b>, Rhodes University, South Africa</li>
                <li>2008/2010 - <b>MSc Artificial Intelligence</b>, University of Amsterdam</li>
                <li>2004/2008 - <b>BS (Cum Laude) Software engineer, system and network engineering</b> Hogeschool van Amsterdam</li>
                <li>1999/2003 - <b>MBO Elektrotechniek</b> Nova College</li>
            </ul>

        </div>
    </div>
</main>

{%  include footer.html %}