---
---

{%  include header.html %}

    <main role="main" class="container">

      <div class="row">
          <div class="col-2">
          </div>
          <div class="col-6">
              <h1>About</h1>
          </div>
      </div>
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-5">
            <p class="lead"> When I was a kid I wanted to become a bicycle repair man. Now I'm working as a free-lance
            software engineer / data scientist, which is also fun. For the last 5 years I worked on data
            reduction pipelines for very big radio telescopes like <a href="http://www.lofar.org" target="_blank">LOFAR</a> and
            <a href="http://www.ska.ac.za/" target="_blank">SKA</a>.  I have experience in various fields like astronomy,
            big data, industrial computing, fin tech, machine learning and computer vision. Amsterdam I call home, but I'm
            often in Cape Town. In my spare time I make <a href="http://brouwerijdepomp.nl/" target="_blank">beer</a>
            and <a href="https://soundcloud.com/gijzelaerr" target="_blank">music</a>. My name is Gijs Molenaar.</p>
          </div>
          <div class="col">
            <img src="/images/smile.jpg" class="img-circle">
          </div>
      </div>
    </main>

{%  include footer.html %}