---
---

{%  include header.html %}


<main role="main" class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

            <h1 class="page-title">Videos</h1>

            <hr>

            <h2>Namibia 2021</h2>
            <p>
               I recently became obsessed with flying self-build First Person View drones. This is footage I made in the dunes of Namibia.
            </p>
            <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/I_dkK9npoaQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </p>
            <hr>

            <h2>DockerCon 2014</h2>
            <p>
                A talk at DockerCon about software containerisation in radio astronomy.
            </p>
            <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K98cbiQg-A8" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            </p>

            <hr>

            <h2>EuroSciPy 2014</h2>
            <p>
                A talk a EuroSciPy in Cambridge, UK about the Transient detection Pipeline (TRAP) for the LOFAR
                telescope.
            </p>
            <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_ExWz-j1ZhY" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            </p>



            <hr>

            <h2>Visualising injuries</h2>
            <p>
                 Playing with VTK, Dicom and the CT scan of my head.
            </p>
            <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UV9Ib4ci0YI" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            </p>

            <hr>

            <h2>Computer Vision based hand controler 2011</h2>
            <p>
                A demo of my computer vision based hand pose to MIDI translator software, made for my MSc Artificial
                Intelligence.
            </p>
            <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GbB5jZm3ROw" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            </p>

            <hr>
        </div>
    </div>
</main>

{%  include footer.html %}
