---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">


            <h1>Videos</h1>

            <h2>DockerCon 2014</h2>
            <p>
                A talk at DockerCon about software containerisation in radio astronomy.
            </p>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K98cbiQg-A8" frameborder="0" allowfullscreen></iframe>
            </p>

            <h2>EuroSciPy 2014</h2>
            <p>
                A talk a EuroSciPy in Cambridge, UK about the Transient detection Pipeline (TRAP) for the LOFAR telescope.
            </p>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_ExWz-j1ZhY" frameborder="0" allowfullscreen></iframe>
            </p>

            <h2>Computer Vision based hand controler 2011</h2>
            <p>
                A demo of my computer vision based hand pose to MIDI translator software, made for my MSc Artificial
                Intelligence.
            </p>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GbB5jZm3ROw" frameborder="0" allowfullscreen></iframe>
            </p>
        </div>
    </div>
</main>

{%  include footer.html %}