---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">


            <h1 class="page-title">Publications</h1>

            <hr>


            <h2>First author</h2>

            <hr>
            <ul>


                <li>
                    <a href="https://arxiv.org/abs/1807.03264" target="_blank">KLIKO - the scientific compute container
                        format</a>, Astronomy & Computing, 2018
                </li>
            </ul>
            <hr>
            <ul>
                <li>
                    <a href="https://www.sciencedirect.com/science/article/pii/S221313371730080X" target="_blank">KERN -
                        The radio astronomy software suite</a>, Astronomy & Computing, 2018
                </li>
            </ul>
            <hr>
            <ul>
                <li>
                    <a href="http://arno.uva.nl/cgi/arno/show.cgi?fid=216268" target="_blank">Sonic Gesture</a>,
                    master thesis, 2011
                </li>


            </ul>
            <hr>

            <h2>Co-author</h2>
            <ul>            
            
                <hr>
                <li>
                    <a href="https://arxiv.org/abs/2003.13289" target="_blank">The AARTFAAC 60 MHz transients surveys</a>,
                    preprint 2020
                </li>
                <hr>

                <li>
                    <a href="https://arxiv.org/abs/2003.00720" target="_blank">AARTFAAC discovery of extreme-fluence pulses from PSR B0950+ 08s</a>,
                    preprint 2020
                </li>
                <hr>

                <li>
                    <a href="https://ascl.net/2002.010" target="_blank">Apercal: Pipeline for the Westerbork Synthesis Radio Telescope Apertif upgrades</a>,
                     ascl 2020
                 </li>
                <hr>

                <li>
                    <a href="https://arxiv.org/abs/1808.07781" target="_blank">Identifying transient and variable sources in radio imagess</a>,
                    Astronomy and Computing 2019
                </li>
                <hr>
                    
                <li>
                    <a href="https://arxiv.org/abs/1810.06430" target="_blank">AARTFAAC flux density calibration and Northern hemisphere catalogue at 60 MHzs</a>,
                    Monthly Notices of the Royal Astronomical Society 2019
                </li>
                <hr>                         
            
                <li>
                    <a href="https://arxiv.org/pdf/1802.09604.pdf" target="_blank">PySE: Software for Extracting
                        Sources from Radio Images</a>,
                    Astronomy & Computing 2018
                </li>
                <hr>

                <li>
                    <a href="https://arxiv.org/abs/1503.01526" target="_blank">The LOFAR transient pipeline</a>,
                    Astronomy & Computing 2015
                </li>

                <hr>

                <li>
                    <a href="https://arxiv.org/abs/1512.00014" target="_blank">LOFAR MSSS: detection of a
                        low-frequency radio transient
                        in 400 h of monitoring of the North Celestial Pole</a>, Monthly Notices of the Royal
                    Astronomical
                    Society, 2016
                </li>

                <hr>

                <li>
                    <a href="https://arxiv.org/abs/1501.03312" target="_blank">Pulsar polarisation below 200
                        MHz: Average profiles and
                        propagation effects</a>, Astronomy and astrophysics, 2015
                </li>

                <hr>

                <li>
                    <a href="https://www.aanda.org/articles/aa/full_html/2015/12/aa26501-15/aa26501-15.html"
                       target="_blank">Wide-field
                        LOFAR imaging of the field around the double-double radio galaxy B1834+ 620-A
                        fresh view on a restarted AGN and doubeltjes</a>, Astronomy and astrophysics, 2015
                </li>

                <hr>
            </ul>
        </div>
    </div>
</main>

{%  include footer.html %}
