---
---

{%  include header.html %}

<main role="main" class="container">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">


            <h1>Publications</h1>

            <h2>First author</h2>

            <ul>
                <li>
                    <a href="https://arxiv.org/abs/1710.09145">The radio astronomy software suite</a>. Pending
                    publication
                    in Astronomy & Computing.
                </li>

                <li>
                    <a href="http://arno.uva.nl/cgi/arno/show.cgi?fid=216268">Sonic Gesture</a>. Master Thesis, 2011.
                </li>
            </ul>
            <h2>Co-author</h2>
            <ul>
                <li>
                    <a href="https://arxiv.org/abs/1503.01526">The LOFAR transient pipeline</a>,
                    Astronomy & Computing 2015
                </li>

                <li>
                    <a href="https://arxiv.org/abs/1512.00014">LOFAR MSSS: detection of a low-frequency radio transient
                        in 400 h of monitoring of the North Celestial Pole</a>, Monthly Notices of the Royal Astronomical
                    Society, 2016.
                </li>

                <li>
                    <a href="https://arxiv.org/abs/1501.03312">Pulsar polarisation below 200 MHz: Average profiles and
                        propagation effects</a>, Astronomy and astrophysics, 2015.
                </li>

                <li>
                    <a href="https://www.aanda.org/articles/aa/full_html/2015/12/aa26501-15/aa26501-15.html">Wide-field
                        LOFAR imaging of the field around the double-double radio galaxy B1834+ 620-A
                        fresh view on a restarted AGN and doubeltjes</a>, Astronomy and astrophysics, 2015.
                </li>
            </ul>
        </div>
    </div>
</main>

{%  include footer.html %}